html {
  box-sizing: border-box;
  font-family: sans-sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.cards{
  display: flex;
}

img {
  width: 100px;
}
